<!-- 问卷调查卡片 - 新增加 -->
<div class="column is-12 mb-4">
    <div class="card questionnaire-card animate__animated animate__pulse animate__delay-1s">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <i class="fas fa-clipboard-list fa-3x" style="color: #ff4081;"></i>
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">完成音乐问卷调查</p>
                    <p class="subtitle is-6">帮助我们了解您的音乐喜好，获得更精准的推荐</p>
                </div>
            </div>
            <div class="content">
                <p>花几分钟时间完成问卷，我们将根据您的音乐偏好提供个性化推荐。问卷涵盖音乐风格、情绪偏好和听歌场景等方面。</p>
                <div class="has-text-centered mt-3">
                    <a href="/questionnaire" class="button is-primary is-medium">
                        <i class="fas fa-tasks mr-2"></i> 开始问卷
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> 